/*!
Theme Name: andrematheus.net.br
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: andrematheus-net-br
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

andrematheus.net.br is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
*/
@darkred: #D40000;
@lightred: #F53F36;
@nonblack: #1F1F1F;

@debug: false;

.fixed() { position: fixed; }

/** mixins **/

.with-sidebar(@max-width) {
  img.before { display: none; }
  .sidebar {
    float: left;
    margin-left: 0px;
    text-align: right;
  }
  @column: @max-width / 7;

  p, h2, h3, h4, ul {
    margin-left: 2 * @column;
    width: 3.5 * @column;
  }

  p.sidebar, div.sidebar {
    float: left;
    margin-left: 0.25 * @column;
    width: 2 * @column - (0.5 * @column);
    margin-top: 0.5em;
  }

  img.sidebar {
    float: left;
    vertical-align: text-bottom;
    margin-top: 0.5em;
    margin-left: @column * 0.8;
  }
}

.without-sidebar() {
  img.sidebar { display: none; }
  img.before { display: inline; margin-left: 20px;}
  .toc { display: none; }
}

.with-nav-popup(@margin-right) {
  nav#menu { display: none; }
  nav#popup { display: none; }

  a#popup {
    display: inline;
    text-transform: uppercase;
    color: @nonblack;
    text-decoration: underline;
  }

  nav#popup > div#mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    background: black;
    z-index: 900;
  }

  nav#popup > div#contents {
    background: white;
    box-shadow: 0px 0px 5px #888888;
    position: fixed;
    top: 30px;
    width: 150px;
    right: @margin-right;
    padding: 15px;
    z-index: 1000;

    a {
      margin-top: 10px;
      margin-bottom: 10px;
      display: block;
      &:hover {
        color: @darkred;
        text-decoration: underline;
      }
      &.active {
        border: none;
      }
    }
    span {
      display: none;
    }
  }
}

.with-nav-inline() {
  header#main_header {
    nav#menu {
      display: block;
      li {
        display: inline;
        .reset();
      }
      li > a, span {
        margin-left: 0.5em;
      }
      li > a {
        text-decoration: none;
        color: @nonblack;
      }

      li.active a {
        border-bottom: 3px solid @nonblack;
      }
    }
    nav#popup { display: none; }
    a#popup { display: none; }
  }
}

.serif() {
  font-family:
          'Georgia',
          'serif'
;
}

.display() {
  font-family:
          'Helvetica',
          'Arial',
          'sans';
}

.centered() {
  margin-left: auto;
  margin-right: auto;
}

.reset() {
  margin: 0;
  padding: 0;
}

.global-reset() {
  body, h1, h2, h3, h4, p, footer, header, nav, article, a, div {
    .reset();
  }
}

.global-color-typography() {
  body { color: @nonblack; }

  h1, h2, h3, h4, p.byline { .display(); }
  h3 span.local {
    display: block;
    font-style: italic;
  }
  p { .serif(); }

  a {
    font-weight: bold;
    text-decoration: none;
    color: @darkred;
  }

  p.note {
    font-style: italic;
  }

  h4 {
    text-transform: uppercase;
  }

  header#main_header {
    nav, a {
      text-transform: uppercase;
      .display();
    }
  }

  header#main_header {
    nav {
      div {
        a, span {
          color: @nonblack;
          margin-left: 0.3em;

          &.active {
            border-bottom: 3px solid @nonblack;
          }

          &:hover {
            color: @darkred;
            text-decoration: underline;
          }
        }
      }
    }
  }

  footer {
    text-align: center;
    font-size: 16px;
  }

  dl {
    dt {
      font-weight: bold;
      text-transform: uppercase;
      text-align: right;
    }
  }

  a.toc {
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-size: 0.5em;
    margin-bottom: 1em;
    line-height: 1.5em;
  }
}

.global-layout() {
  body {
    .centered();
  }

  header#main_header {
    border-bottom: 1px solid @nonblack;
    display: flex;
    justify-content: space-between;
  }

  dl {
    display: inline-table;
    div {
      display: table-row;
    }
    dt {
      display: table-cell;
      padding-right: 1em;
    }
    dd {
      display: table-cell;
    }
  }

  footer {
    margin-top: 10em;
    bottom: 0px;
    .centered();
  }
}

.global {
  .global-reset();
  .global-layout();
  .global-color-typography();
}

.global();

.measures(@basesize, @row) {
  @bigline-height: 2 * @row;

  @diff: @row - @basesize;

  body {
    font-size: @basesize;
    line-height: @row;
  }

  p, ul {
    margin-bottom: @row;
    font-size: @basesize;
    line-height: @row;
  }

  .note {
    margin-top: @row;
    font-size: @basesize * 0.8;
    line-height: 0.6 * @row;
    margin-bottom: @row;
  }

  h1 {
    margin-top: 0.25* @row;
    font-size: 1.75 * @row;
    line-height: 1.75 * @row;
    margin-bottom: 0.25 * @row;
  }

  p.byline {
    margin-left: 0;
    width: 100%;
    font-size: @row;
    line-height: @row;
    margin-bottom: -0.25 * @row;
  }

  h2 { font-size: 1.125 * @basesize; line-height: 1.125 * @basesize}
  h3 { font-size: @basesize; line-height: @row; margin-top: @row * 0.5;}
  h3 span.local { font-size: 0.8em; margin-bottom: 0.2em;}

  h4 { font-size: @basesize * 0.8; line-height: @row; }

  h1#hero {
    font-size: @basesize;
    margin-top: @diff / 2;
    margin-bottom: -0.5 * @diff;
    line-height: @row;
  }

  header#main_header {
    height: @row;
    overflow: clip;
    a#popup, nav#menu {
      font-size: @basesize * 0.5;
      margin-top: @basesize * 0.25;
      line-height: @row;
    }
  }

  footer {
    margin-top: 4 * @row;
    margin-bottom: @row;
    font-size: @basesize * 0.8;
  }

  img.before {
    height: 2 * @row;
    margin-top: 0.5 * @row;
    margin-bottom: 0.5 * @row;
  }

  dl {
    margin-top: @row;
    div {

    }
    dt {
      padding: @row / 8;
    }
    dd {
      padding: @row / 8;
    }
  }
}

.mobile(@width, @padding) {
  body {
    padding-top: 10px;
    padding-left: @padding;
    padding-right: @padding;
    .measures(16px, 20px);
    max-width: @width;

    & when (@debug = true) {
      background-image: url("/img/bgrowsml.png");
      background-position: 0px 10px;
    }
  }

  img.sidebar {
    max-width: 70px;
  }
  dl {
    margin-top: 5px;
    div {

    }
    dt {
      font-size: 8px;
      padding: 3px;
    }
    dd {
      font-size: 14px;
      padding: 3px;
    }
  }
}

.tablet(@width, @padding) {
  body {
    padding-top: 25px;
    padding-left: @padding;
    padding-right: @padding;
    .measures(18px, 30px);
    max-width: @width;
  }
}

.tablet-big(@width, @padding) {
  body {
    padding-top: 45px;
    padding-left: @padding;
    padding-right: @padding;
    .measures(24px, 30px);
    max-width: @width;
  }
}

@media(max-width: 415px) {
  .mobile(320px, 20px);
  .with-nav-popup(20px);
  .without-sidebar();
}

@media (min-width: 416px) and (max-width: 479px) {
  .mobile(320px, 20px);
  .with-nav-popup(20px);
  .without-sidebar();
}

@media(min-width: 480px) and (max-width: 767px) {
  .mobile(480px, 20px);
  .with-nav-popup(20px);
  .with-sidebar(480px);
}

@media(min-width: 768px) and (max-width: 1023px) {
  .tablet(700px, 55px);
  .with-nav-inline();
  .with-sidebar(700px);
}

@media(min-width: 769px) {
  .tablet-big(900px, 55px);
  .with-nav-inline();
  .with-sidebar(900px);
}