/*!
Theme Name: andrematheus.net.br
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: andrematheus-net-br
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

andrematheus.net.br is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
*/
/** mixins **/
.global body,
.global h1,
.global h2,
.global h3,
.global h4,
.global p,
.global footer,
.global header,
.global nav,
.global article,
.global a,
.global div {
  margin: 0;
  padding: 0;
}
.global body {
  margin-left: auto;
  margin-right: auto;
}
.global header#main_header {
  border-bottom: 1px solid #1F1F1F;
  display: flex;
  justify-content: space-between;
}
.global dl {
  display: inline-table;
}
.global dl div {
  display: table-row;
}
.global dl dt {
  display: table-cell;
  padding-right: 1em;
}
.global dl dd {
  display: table-cell;
}
.global footer {
  margin-top: 10em;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
.global body {
  color: #1F1F1F;
}
.global h1,
.global h2,
.global h3,
.global h4,
.global p.byline {
  font-family: 'Helvetica', 'Arial', 'sans';
}
.global h3 span.local {
  display: block;
  font-style: italic;
}
.global p {
  font-family: 'Georgia', 'serif';
}
.global a {
  font-weight: bold;
  text-decoration: none;
  color: #D40000;
}
.global p.note {
  font-style: italic;
}
.global h4 {
  text-transform: uppercase;
}
.global header#main_header nav,
.global header#main_header a {
  text-transform: uppercase;
  font-family: 'Helvetica', 'Arial', 'sans';
}
.global header#main_header nav div a,
.global header#main_header nav div span {
  color: #1F1F1F;
  margin-left: 0.3em;
}
.global header#main_header nav div a.active,
.global header#main_header nav div span.active {
  border-bottom: 3px solid #1F1F1F;
}
.global header#main_header nav div a:hover,
.global header#main_header nav div span:hover {
  color: #D40000;
  text-decoration: underline;
}
.global footer {
  text-align: center;
  font-size: 16px;
}
.global dl dt {
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}
.global a.toc {
  display: block;
  text-align: right;
  text-transform: uppercase;
  font-size: 0.5em;
  margin-bottom: 1em;
  line-height: 1.5em;
}
body,
h1,
h2,
h3,
h4,
p,
footer,
header,
nav,
article,
a,
div {
  margin: 0;
  padding: 0;
}
body {
  margin-left: auto;
  margin-right: auto;
}
header#main_header {
  border-bottom: 1px solid #1F1F1F;
  display: flex;
  justify-content: space-between;
}
dl {
  display: inline-table;
}
dl div {
  display: table-row;
}
dl dt {
  display: table-cell;
  padding-right: 1em;
}
dl dd {
  display: table-cell;
}
footer {
  margin-top: 10em;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
body {
  color: #1F1F1F;
}
h1,
h2,
h3,
h4,
p.byline {
  font-family: 'Helvetica', 'Arial', 'sans';
}
h3 span.local {
  display: block;
  font-style: italic;
}
p {
  font-family: 'Georgia', 'serif';
}
a {
  font-weight: bold;
  text-decoration: none;
  color: #D40000;
}
p.note {
  font-style: italic;
}
h4 {
  text-transform: uppercase;
}
header#main_header nav,
header#main_header a {
  text-transform: uppercase;
  font-family: 'Helvetica', 'Arial', 'sans';
}
header#main_header nav div a,
header#main_header nav div span {
  color: #1F1F1F;
  margin-left: 0.3em;
}
header#main_header nav div a.active,
header#main_header nav div span.active {
  border-bottom: 3px solid #1F1F1F;
}
header#main_header nav div a:hover,
header#main_header nav div span:hover {
  color: #D40000;
  text-decoration: underline;
}
footer {
  text-align: center;
  font-size: 16px;
}
dl dt {
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}
a.toc {
  display: block;
  text-align: right;
  text-transform: uppercase;
  font-size: 0.5em;
  margin-bottom: 1em;
  line-height: 1.5em;
}
@media (max-width: 415px) {
  body {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 320px;
  }
  body body {
    font-size: 16px;
    line-height: 20px;
  }
  body p,
  body ul {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  body .note {
    margin-top: 20px;
    font-size: 12.8px;
    line-height: 12px;
    margin-bottom: 20px;
  }
  body h1 {
    margin-top: 5px;
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 5px;
  }
  body p.byline {
    margin-left: 0;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: -5px;
  }
  body h2 {
    font-size: 18px;
    line-height: 18px;
  }
  body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }
  body h3 span.local {
    font-size: 0.8em;
    margin-bottom: 0.2em;
  }
  body h4 {
    font-size: 12.8px;
    line-height: 20px;
  }
  body h1#hero {
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: -2px;
    line-height: 20px;
  }
  body header#main_header {
    height: 20px;
    overflow: clip;
  }
  body header#main_header a#popup,
  body header#main_header nav#menu {
    font-size: 8px;
    margin-top: 4px;
    line-height: 20px;
  }
  body footer {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 12.8px;
  }
  body img.before {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  body dl {
    margin-top: 20px;
  }
  body dl dt {
    padding: 2.5px;
  }
  body dl dd {
    padding: 2.5px;
  }
  img.sidebar {
    max-width: 70px;
  }
  dl {
    margin-top: 5px;
  }
  dl dt {
    font-size: 8px;
    padding: 3px;
  }
  dl dd {
    font-size: 14px;
    padding: 3px;
  }
  nav#menu {
    display: none;
  }
  nav#popup {
    display: none;
  }
  a#popup {
    display: inline;
    text-transform: uppercase;
    color: #1F1F1F;
    text-decoration: underline;
  }
  nav#popup > div#mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    background: black;
    z-index: 900;
  }
  nav#popup > div#contents {
    background: white;
    box-shadow: 0px 0px 5px #888888;
    position: fixed;
    top: 30px;
    width: 150px;
    right: 20px;
    padding: 15px;
    z-index: 1000;
  }
  nav#popup > div#contents a {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }
  nav#popup > div#contents a:hover {
    color: #D40000;
    text-decoration: underline;
  }
  nav#popup > div#contents a.active {
    border: none;
  }
  nav#popup > div#contents span {
    display: none;
  }
  img.sidebar {
    display: none;
  }
  img.before {
    display: inline;
    margin-left: 20px;
  }
  .toc {
    display: none;
  }
}
@media (min-width: 416px) and (max-width: 479px) {
  body {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 320px;
  }
  body body {
    font-size: 16px;
    line-height: 20px;
  }
  body p,
  body ul {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  body .note {
    margin-top: 20px;
    font-size: 12.8px;
    line-height: 12px;
    margin-bottom: 20px;
  }
  body h1 {
    margin-top: 5px;
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 5px;
  }
  body p.byline {
    margin-left: 0;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: -5px;
  }
  body h2 {
    font-size: 18px;
    line-height: 18px;
  }
  body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }
  body h3 span.local {
    font-size: 0.8em;
    margin-bottom: 0.2em;
  }
  body h4 {
    font-size: 12.8px;
    line-height: 20px;
  }
  body h1#hero {
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: -2px;
    line-height: 20px;
  }
  body header#main_header {
    height: 20px;
    overflow: clip;
  }
  body header#main_header a#popup,
  body header#main_header nav#menu {
    font-size: 8px;
    margin-top: 4px;
    line-height: 20px;
  }
  body footer {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 12.8px;
  }
  body img.before {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  body dl {
    margin-top: 20px;
  }
  body dl dt {
    padding: 2.5px;
  }
  body dl dd {
    padding: 2.5px;
  }
  img.sidebar {
    max-width: 70px;
  }
  dl {
    margin-top: 5px;
  }
  dl dt {
    font-size: 8px;
    padding: 3px;
  }
  dl dd {
    font-size: 14px;
    padding: 3px;
  }
  nav#menu {
    display: none;
  }
  nav#popup {
    display: none;
  }
  a#popup {
    display: inline;
    text-transform: uppercase;
    color: #1F1F1F;
    text-decoration: underline;
  }
  nav#popup > div#mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    background: black;
    z-index: 900;
  }
  nav#popup > div#contents {
    background: white;
    box-shadow: 0px 0px 5px #888888;
    position: fixed;
    top: 30px;
    width: 150px;
    right: 20px;
    padding: 15px;
    z-index: 1000;
  }
  nav#popup > div#contents a {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }
  nav#popup > div#contents a:hover {
    color: #D40000;
    text-decoration: underline;
  }
  nav#popup > div#contents a.active {
    border: none;
  }
  nav#popup > div#contents span {
    display: none;
  }
  img.sidebar {
    display: none;
  }
  img.before {
    display: inline;
    margin-left: 20px;
  }
  .toc {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  body {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 480px;
  }
  body body {
    font-size: 16px;
    line-height: 20px;
  }
  body p,
  body ul {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  body .note {
    margin-top: 20px;
    font-size: 12.8px;
    line-height: 12px;
    margin-bottom: 20px;
  }
  body h1 {
    margin-top: 5px;
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 5px;
  }
  body p.byline {
    margin-left: 0;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: -5px;
  }
  body h2 {
    font-size: 18px;
    line-height: 18px;
  }
  body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }
  body h3 span.local {
    font-size: 0.8em;
    margin-bottom: 0.2em;
  }
  body h4 {
    font-size: 12.8px;
    line-height: 20px;
  }
  body h1#hero {
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: -2px;
    line-height: 20px;
  }
  body header#main_header {
    height: 20px;
    overflow: clip;
  }
  body header#main_header a#popup,
  body header#main_header nav#menu {
    font-size: 8px;
    margin-top: 4px;
    line-height: 20px;
  }
  body footer {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 12.8px;
  }
  body img.before {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  body dl {
    margin-top: 20px;
  }
  body dl dt {
    padding: 2.5px;
  }
  body dl dd {
    padding: 2.5px;
  }
  img.sidebar {
    max-width: 70px;
  }
  dl {
    margin-top: 5px;
  }
  dl dt {
    font-size: 8px;
    padding: 3px;
  }
  dl dd {
    font-size: 14px;
    padding: 3px;
  }
  nav#menu {
    display: none;
  }
  nav#popup {
    display: none;
  }
  a#popup {
    display: inline;
    text-transform: uppercase;
    color: #1F1F1F;
    text-decoration: underline;
  }
  nav#popup > div#mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    background: black;
    z-index: 900;
  }
  nav#popup > div#contents {
    background: white;
    box-shadow: 0px 0px 5px #888888;
    position: fixed;
    top: 30px;
    width: 150px;
    right: 20px;
    padding: 15px;
    z-index: 1000;
  }
  nav#popup > div#contents a {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }
  nav#popup > div#contents a:hover {
    color: #D40000;
    text-decoration: underline;
  }
  nav#popup > div#contents a.active {
    border: none;
  }
  nav#popup > div#contents span {
    display: none;
  }
  img.before {
    display: none;
  }
  .sidebar {
    float: left;
    margin-left: 0px;
    text-align: right;
  }
  p,
  h2,
  h3,
  h4,
  ul {
    margin-left: 137.14285714px;
    width: 240px;
  }
  p.sidebar,
  div.sidebar {
    float: left;
    margin-left: 17.14285714px;
    width: 102.85714286px;
    margin-top: 0.5em;
  }
  img.sidebar {
    float: left;
    vertical-align: text-bottom;
    margin-top: 0.5em;
    margin-left: 54.85714286px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    padding-top: 25px;
    padding-left: 55px;
    padding-right: 55px;
    max-width: 700px;
  }
  body body {
    font-size: 18px;
    line-height: 30px;
  }
  body p,
  body ul {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }
  body .note {
    margin-top: 30px;
    font-size: 14.4px;
    line-height: 18px;
    margin-bottom: 30px;
  }
  body h1 {
    margin-top: 7.5px;
    font-size: 52.5px;
    line-height: 52.5px;
    margin-bottom: 7.5px;
  }
  body p.byline {
    margin-left: 0;
    width: 100%;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: -7.5px;
  }
  body h2 {
    font-size: 20.25px;
    line-height: 20.25px;
  }
  body h3 {
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;
  }
  body h3 span.local {
    font-size: 0.8em;
    margin-bottom: 0.2em;
  }
  body h4 {
    font-size: 14.4px;
    line-height: 30px;
  }
  body h1#hero {
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: -6px;
    line-height: 30px;
  }
  body header#main_header {
    height: 30px;
    overflow: clip;
  }
  body header#main_header a#popup,
  body header#main_header nav#menu {
    font-size: 9px;
    margin-top: 4.5px;
    line-height: 30px;
  }
  body footer {
    margin-top: 120px;
    margin-bottom: 30px;
    font-size: 14.4px;
  }
  body img.before {
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  body dl {
    margin-top: 30px;
  }
  body dl dt {
    padding: 3.75px;
  }
  body dl dd {
    padding: 3.75px;
  }
  header#main_header nav#menu {
    display: block;
  }
  header#main_header nav#menu li {
    display: inline;
    margin: 0;
    padding: 0;
  }
  header#main_header nav#menu li > a,
  header#main_header nav#menu span {
    margin-left: 0.5em;
  }
  header#main_header nav#menu li > a {
    text-decoration: none;
    color: #1F1F1F;
  }
  header#main_header nav#menu li.active a {
    border-bottom: 3px solid #1F1F1F;
  }
  header#main_header nav#popup {
    display: none;
  }
  header#main_header a#popup {
    display: none;
  }
  img.before {
    display: none;
  }
  .sidebar {
    float: left;
    margin-left: 0px;
    text-align: right;
  }
  p,
  h2,
  h3,
  h4,
  ul {
    margin-left: 200px;
    width: 350px;
  }
  p.sidebar,
  div.sidebar {
    float: left;
    margin-left: 25px;
    width: 150px;
    margin-top: 0.5em;
  }
  img.sidebar {
    float: left;
    vertical-align: text-bottom;
    margin-top: 0.5em;
    margin-left: 80px;
  }
}
@media (min-width: 769px) {
  body {
    padding-top: 45px;
    padding-left: 55px;
    padding-right: 55px;
    max-width: 900px;
  }
  body body {
    font-size: 24px;
    line-height: 30px;
  }
  body p,
  body ul {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
  }
  body .note {
    margin-top: 30px;
    font-size: 19.2px;
    line-height: 18px;
    margin-bottom: 30px;
  }
  body h1 {
    margin-top: 7.5px;
    font-size: 52.5px;
    line-height: 52.5px;
    margin-bottom: 7.5px;
  }
  body p.byline {
    margin-left: 0;
    width: 100%;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: -7.5px;
  }
  body h2 {
    font-size: 27px;
    line-height: 27px;
  }
  body h3 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 15px;
  }
  body h3 span.local {
    font-size: 0.8em;
    margin-bottom: 0.2em;
  }
  body h4 {
    font-size: 19.2px;
    line-height: 30px;
  }
  body h1#hero {
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: -3px;
    line-height: 30px;
  }
  body header#main_header {
    height: 30px;
    overflow: clip;
  }
  body header#main_header a#popup,
  body header#main_header nav#menu {
    font-size: 12px;
    margin-top: 6px;
    line-height: 30px;
  }
  body footer {
    margin-top: 120px;
    margin-bottom: 30px;
    font-size: 19.2px;
  }
  body img.before {
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  body dl {
    margin-top: 30px;
  }
  body dl dt {
    padding: 3.75px;
  }
  body dl dd {
    padding: 3.75px;
  }
  header#main_header nav#menu {
    display: block;
  }
  header#main_header nav#menu li {
    display: inline;
    margin: 0;
    padding: 0;
  }
  header#main_header nav#menu li > a,
  header#main_header nav#menu span {
    margin-left: 0.5em;
  }
  header#main_header nav#menu li > a {
    text-decoration: none;
    color: #1F1F1F;
  }
  header#main_header nav#menu li.active a {
    border-bottom: 3px solid #1F1F1F;
  }
  header#main_header nav#popup {
    display: none;
  }
  header#main_header a#popup {
    display: none;
  }
  img.before {
    display: none;
  }
  .sidebar {
    float: left;
    margin-left: 0px;
    text-align: right;
  }
  p,
  h2,
  h3,
  h4,
  ul {
    margin-left: 257.14285714px;
    width: 450px;
  }
  p.sidebar,
  div.sidebar {
    float: left;
    margin-left: 32.14285714px;
    width: 192.85714286px;
    margin-top: 0.5em;
  }
  img.sidebar {
    float: left;
    vertical-align: text-bottom;
    margin-top: 0.5em;
    margin-left: 102.85714286px;
  }
}
/*# sourceMappingURL=style.css.map */